    <a class="skip-link" href="#main">{{t:common:a11y.skip-link}}</a>

    <header class="site-header">
        <div class="site-header__inner container">
            <a class="brand" href="{{link:index}}">
                <img class="brand__mark" src="{{root}}resource/mylogo.png" alt="" width="32" height="32">
                <span class="brand__name">{{t:common:site.name}}</span>
            </a>

            <button class="nav-toggle" type="button" aria-expanded="false" aria-controls="site-nav">
                <span class="nav-toggle__bar" aria-hidden="true"></span>
                <span class="nav-toggle__bar" aria-hidden="true"></span>
                <span class="nav-toggle__bar" aria-hidden="true"></span>
                <span class="sr-only">{{t:common:a11y.toggle-menu}}</span>
            </button>

            <nav class="site-nav" id="site-nav" aria-label="{{t:common:a11y.main-nav}}">
                <ul class="site-nav__list">
                    <li><a class="nav-link" href="{{link:index}}"{{current:index}}>{{t:common:nav.home}}</a></li>
                    <li><a class="nav-link" href="{{link:sitemap}}"{{current:sitemap}}>{{t:common:nav.sitemap}}</a></li>
                    <li><a class="nav-link" href="{{link:introMe}}"{{current:introMe}}>{{t:common:nav.about-me}}</a></li>
                    <li><a class="nav-link" href="{{link:contact}}"{{current:contact}}>{{t:common:nav.contact}}</a></li>
                </ul>
                <a class="lang-switch" href="{{link:@self:other}}" hreflang="{{t:common:lang-switch.lang}}" lang="{{t:common:lang-switch.lang}}">{{t:common:lang-switch.label}}</a>
            </nav>
        </div>
    </header>
